* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #eee;
	background-size: cover;
}

.container {
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.div1 {
	margin-right: 10px;
}

.div2 {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #444444;
	border-top: 4px solid #b2ddf6;
	height: 40px;
}

.div3 {
	background-color: white;
	margin: 30px;
	height: 5cm;
}

.div4 {
	display: flex;
	background-color: #444444;
	color: white;
	padding-left: 10px;
	height: 25px;
	align-items: center;
	size: 20px;
}

.div5 {
	padding-top: 0.6cm;
	padding-left: 0.5cm;
	color: black;
}

.sup {
	color: red;
}

.div6 {
	padding-top: 0.2cm;
	padding-left: 0.5cm;
}

.div6 input {
	color: #858585;
	border: 1px solid #d5d5d5;
	height: 0.8cm;
	width: 4cm;
	padding-left: 8px;
}

.div7 {
	padding-top: 0.7cm;
	padding-left: 0.5cm;
}

.div7 button {
	background-color: #F4B400;
	color: white;
	width: 3cm;
	padding: 6px 12px;
	flex-grow: 15;
	border: 0px solid #F4B400;
}

.div8 {
	display: flex;
	background-color: #1AE3BB;
	margin: 30px;
	height: 3cm;
	padding-left: 0.5cm;
	color: black;
	align-items: center;
}

footer {
	background-color: #990000;
}

.footer {
	bottom: 0px;
	color: white;
	padding: 15px 0;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 50px;
}

.nonblu {
	font-size: 20px;
	font-style: italic;
}

.blue {
	color: #5DB2FF;
}